<div style="display: table-cell; height: 350px; vertical-align: middle; text-align: center; cursor: pointer">
    <h3>Well this is embarrassing.</h3>
    <p style="margin:0 1em 2em">An error occured while trying to take your feedback.
        You could e-mail <a href="mailto:{{ config.emailTo }}">{{ config.emailTo }}</a> directly, or try again later.</p>
    <p><small>(Click anywhere to close this)</small></p>
</div>