<div id="Feedback_response">
    <h3>Thank You!</h3>
    <p style="margin:0 3em 2em">We'll take a look at this soon and see what we can do.</p>
    <p><small>(Click anywhere to close this)</small></p>
</div>